#successMessage {
  visibility:hidden;
  opacity:0;
  transition:300ms;
  display: none;
}

#errorMessage {
  visibility:hidden;
  opacity:0;
  transition:300ms;
  display: none;
}

.orb-img {
  height:50px;
  width:50px;
}
